@import "../../assets/styling/media.scss";
@import "../../assets/styling/flexMix.scss";
@import "../../assets/styling/theme.scss";
.grid-container {
    @include flexMix(unset, center, unset);
    background-color: $colorS-Dark;
}

.card-container {
    @include flexMix(row, center, unset);
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    background-color: $colorS-Dark;

    // display: grid;
    // grid-template-columns: 1fr;
    // @include mqtablet {
    //     grid-template-columns: 1fr 1fr;
    // }
    // @include mqdesktop {
    //     grid-template-columns: 1fr 1fr 1fr;
    // }
    // @include mqdesktopxl {
    //     grid-template-columns: 1fr 1fr 1fr 1fr;
    // }
}
