@import "../../assets/styling/flexMix.scss";
.cart-counter {
    @include flexMix(row, unset, center);
    &__btn {
        height: 25px;
        width: 25px;
    }
    &__qty {
        margin: 10px;
    }
}
