$colorPrimary: rgb(84, 69, 59);
$colorP-Light: rgb(118, 90, 71);
$colorP-Dark: rgb(61, 51, 44);
$colorSecondary: rgb(189, 163, 146);
$colorS-Light: rgb(255, 255, 255);
$colorS-Dark: rgb(147, 127, 114);
$colorTextOnP: white;
$colorTextOnS: black;
* {
    margin: 0px;
    padding: 0px;
}
