// navbar
$colorPrimary: rgb(16, 15, 15);
$colorP-Light: rgb(230, 104, 20);
$colorP-Dark: rgb(107, 46, 5);
// cards
$colorSecondary: rgb(167, 166, 166);

// main bg
$colorS-Light: rgb(204, 204, 204);
$colorS-Dark: rgb(79, 34, 124);
$colorTextOnP: white;
$colorTextOnS: black;
* {
    margin: 0px;
    padding: 0px;
}
