@import "../../assets/styling/flexMix.scss";
@import "../../assets/styling/theme.scss";
.product-page {
    @include flexMix(column, unset, center);
    height: 100vh;
    background-color: $colorS-Dark;

    &__img {
        height: 300px;
    }
}
